<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\wayuutalatshi" />
    <add key="WSGI_HANDLER" value="wayuutalatshi.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="wayuutalatshi.settings" />
  </appSettings>
    <system.webServer>
        <handlers>
            <remove name="TRACEVerbHandler" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="SSINC-shtm" />
            <remove name="SSINC-shtml" />
            <remove name="SSINC-stm" />
            <remove name="Python CGI" />
            <add name="WSGI_HANDLER" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python313\python.exe|C:\Python313\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
    </system.webServer>
</configuration>